html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="shortcut icon", href="/public/devChallenges.png", type="image/x-icon")
        link(rel="stylesheet", href="/public/index.css")
        title Personal Portfolio
    body 
        .container
            .principal-photo
                .principal-information
                    img(src="/public/fraydeveloper.jpeg", alt="Fray Developer")
                    .photo-description
                        h4 Fray Juan
                        span NodeJS | Web Developer
                .contact-information
                    p
                        span.material-icons location_on
                        br
                        span Nueva Loja - Ecuador
                    p
                        span.material-icons email
                        br
                        span fraydeveloper@gmail.com
                    p
                        span.material-icons phone
                        br
                        span +593 0988433654
                    p
                        i.fa.fa-linkedin-square
                        br
                        span 
                            a(href="https://www.linkedin.com/in/juan-fray-741635245/" target="_blank") https://www.linkedin.com/in/juan-fray-741635245/
                    p
                        i.fa.fa-github
                        br
                        span 
                            a(href="https://github.com/MonkeyDDeveloper?tab=repositories" target="_blank") https://github.com/MonkeyDDeveloper?tab=repositories
            .about
                .little-description
                    h4 About
                    span 
                        | To complete my higher education, I developed a thesis project focused directly on web development, being self-taught to work with topics such as frontend, backend and databases. Although my affinity leans towards the server side, I continue to educate myself in the other topics related to web application development. I am currently looking for new opportunities in the technology world, especially for technologies such as NodeJS, JavaScript and MongoDB.
            .actual-skills
                h4 Skills
                .skill-levels
                    .skill-level
                        span JavaScript
                        div.percentage 
                    .skill-level
                        span NodeJS
                        div.percentage  
                    .skill-level
                        span ExpressJS
                        div.percentage  
                    .skill-level
                        span MongoDB
                        div.percentage  
                    .skill-level
                        span MySQL
                        div.percentage  
                    .skill-level
                        span CSS
                        div.percentage  
                    .skill-level
                        span Bootstrap
                        div.percentage  
                    .skill-level
                        span Digital Ocean
                        div.percentage 
                    .skill-level
                        span Heroku
                        div.percentage 
            .learning-skills
                h4 Courses
                .skill-levels
                    .skill-level
                        span="TypeScript Esencial (LinkedIn Learning)"
                    .skill-level
                        span="ReactJS Esencial (LinkedIn Learning)"
                    .skill-level
                        span="MongoDB Esencial (LinkedIn Learning)"
                    .skill-level
                        span="Python Esencial (LinkedIn Learning)"
            .experiencies
                h4 Experiencies
                .experiencie
                    .job-photo
                        img(src="/public/logo_large.png", alt="logo")
                    .job-title
                        p Feb 2021 - Jul 2022
                        h5 Degree Project | Enrollment Web Application
                    .job-description
                        p Development of a web application based on NodeJS, using a document database (MongoDB) to improve efficiency in student enrollment at ISPIB MBR, Nueva Loja - Ecuador.
                .experiencie
                    .job-photo
                        img(src="/public/logo_large.png", alt="logo")
                    .job-title
                        p Jul 2022 - Current
                        h5 Developing the developer
                    .job-description
                        p I kept studying different things related to web development, and improving my skills in Nodejs, JavaScript, MongoDB, but also CSS, MySQL and Heroku, mainly.
            .projects
                .projects-content
                    p="Projects"
                    p.show_projects_message="Click to show projects (6)"
            .project.project-1
                .job-photo
                    img(src="/public/enrollment-application.png", alt="enrollment-application")
                .job-title
                    p #NodeJS #MongoDB #Socket.io
                    h4 Enrollment Web Application
                .job-description
                    p Development of a web application based on NodeJS, using a document database (MongoDB) to improve efficiency in student enrollment at ISPIB MBR, Nueva Loja - Ecuador. You can check the code on #[a(href="https://github.com/MonkeyDDeveloper/tesis-appmatriculas" target="_blank") Github.]
            .project.project-2
                .job-photo
                    img(src="/public/contact-saver.png", alt="contact-saver")
                .job-title
                    p #NodeJS #MySQL
                    h4 Simple Contact Saver
                .job-description
                    p Own challenge based on NodeJS, to store contact information in a relational database, MySQL. You can see the result by clicking #[a(href="https://fp-simple-contact-saver.herokuapp.com/" target="_blank") here] or you can check the code on #[a(href="https://github.com/MonkeyDDeveloper/fp-simple-contact-saver" target="_blank") Github.]
            .project.project-3
                .job-photo
                    img(src="/public/edie-homepage.png", alt="edie-homepage")
                .job-title
                    p #CSS #HTML
                    h4 Edie HomePage Challenge
                .job-description
                    p A challenge provided by devChallenges.io, to improve CSS skills, mainly flexbox and gridcss. You can see the result by clicking #[a(href="https://fp-edie-homepage.herokuapp.com/" target="_blank") here] or you can check the code on #[a(href="https://github.com/MonkeyDDeveloper/fp-edie-homepage" target="_blank") Github.]
            .project.project-4
                .job-photo
                    img(src="/public/interior-consultant.png", alt="interior-consultant")
                .job-title
                    p #CSS #HTML
                    h4 Interior Consultant Challenge
                .job-description
                    p A challenge provided by devChallenges.io, using flexbox to make a responsive design. You can see the result by clicking #[a(href="https://fp-interior-consultant.herokuapp.com/" target="_blank") here] or you can check the code on #[a(href="https://github.com/MonkeyDDeveloper/fp-interior-consultant" target="_blank") Github.]
            .project.project-5
                .job-photo
                    img(src="/public/team-page.png", alt="team-page")
                .job-title
                    p #CSS #HTML
                    h4 Team Page Challenge
                .job-description
                    p Small CSS challenge provided by devChallenges.io to use a little of flexbox to make a responsive web page. You can see the result by clicking #[a(href="https://fp-team-page.herokuapp.com/" target="_blank") here] or you can check the code on #[a(href="https://github.com/MonkeyDDeveloper/fp-team-page" target="_blank") Github.]
            .project.project-6
                .job-photo
                    img(src="/public/404.png", alt="404")
                .job-title
                    p #HTML #CSS
                    h4 404 Not Found Challenge
                .job-description
                    p Simple web page to practice mainly HTML, thanks to devChallenges.io. You can see the result by clicking #[a(href="https://fp-404-notfound.herokuapp.com/" target="_blank") here] or you can check the code on #[a(href="https://github.com/MonkeyDDeveloper/FP-404NOTFOUND" target="_blank") Github.]
        script(src="/public/index.js")



